# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog

# Test related files
coverage/
test_db/

test.secret
test.secret.jwt

.flutter-plugins
.flutter-plugins-dependencies

resume.pdf